html,
body {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    margin: 0;
    border: 0;
    padding: 0;
}

.map {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
}

.termin {
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    display: flex;
    flex-direction: row;
    padding: var(--default-layout-padding);
    border-radius: var(--default-radius);
    gap: var(--default-layout-padding);
    margin-top: 2em;

    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            width: 34px;
        }
    }

    .text {
        flex: 1;
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: 0px;
        }

        h3 {
            margin-bottom: 1em;
        }

        p {}
    }
}

// @media screen and (max-width: 600px) {
//     .termin {
//         flex-direction: column;

//         .icon {
//             width: 100%;
//         }
//     }
// }