html,
body {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    margin: 0;
    border: 0;
    padding: 0;
}

#preloading {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preloading h1 {
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Jost', Helvetica, sans-serif;
    margin-top: 2em;
}

#preloading .loader {
    border: 24px solid;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75);
    }

    33% {
        border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
    }

    66% {
        border-color: rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    }

    100% {
        border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15);
    }
}



oag-map {
    background-color: #f4f4f4;
}

oag-screen-map {
    --screen-map-background-color: #eee;
    --open-left: calc(2 * var(--default-layout-padding));
    --open-bottom: calc(2 * var(--default-layout-padding));
    --open-tranform: none;
    --close-left: calc(2 * var(--default-layout-padding));
    --close-bottom: calc(2 * var(--default-layout-padding));
    --close-tranform: none;
}

.imprint {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 2em;
}